{% extends 'base.html' %}
{% load static %}
        <!-- FAVICON -->
        {% comment %} <link rel="icon" href="images/favicon.png">

        <!-- FONTS -->
        <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">

        <!-- VENDOR -->
        <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

        <!-- CUSTOM -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endcomment %}
        <!--=====================================

{% block boody %}
        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(en/images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>Discount & offers</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">offer</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                     OFFER PART START
        =======================================-->
        <section class="inner-section offer-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/01.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/02.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/03.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/04.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/05.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/06.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/07.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/08.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/09.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/10.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="offer-card">
                            <a href="#"><img src="{% static 'en/images/offer/11.jpg' %}" alt="offer"></a>
                            <div class="offer-div">
                                <h5 class="offer-code">RAMADAN20</h5>
                                <button class="offer-select">copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                     OFFER PART END
        =======================================-->
{% endblock boody %}












